.landing-view {
    display: block;
    height: 85.5%;
    width: 97%;
    margin: 1.5%;
    position: absolute;
    background: white;
    top: 12%;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);

    .row {
        margin: 0px;

        .traverse-button {
            width: 50%;
        }

        .main-start {
            position: absolute;
            z-index:10;
        }

        .button-col {
            padding: 0px;

            button {
                float: right;
                padding: 1% 2.5%;
                margin-right: 10px;
                margin-top: 10px;
                border-radius: 15px;
                background: white;
                color: #17db1d;
                outline: transparent;
                border: solid 1.5px #17db1d;

                &:hover {
                    color: white;
                    background: #17db1d;
                    cursor: pointer;
                }
            }

            .previous {
                float: left;
                margin-left: 10px;
            }

            .traversal-button {
                margin-top: 50px;
            }

            .hide-button {
                visibility: collapse;
            }

            .question {
                padding: 5px 10px;
                color: #999999;
                font-size: 2.1vh;
                font-weight: 500;

                .question-head {
                    color: black;
                }
            }
        }

        .time-counter {
            text-align: center;
            margin-top: 10px;

            p {
                font-size: 3.4vh;
                color: #999999;
            }
        }
    }

    .traverse-div {
        width: 100%;
    }

    .home-text {
        font-size: 50px;
        position: absolute;
        top: 170px;
        left: 30px;
        font-weight: 500;
        color: #00c7e9;

        .text-black {
            color: #656565;
        }
    }

      .ripple {
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
       }
       .ripple:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
            background-repeat: no-repeat;
            background-position: 50%;
            transform: scale(10, 10);
            opacity: 0;
            transition: transform .5s, opacity 1s;
            // background: #eef113;
       }
       .ripple:active:after {
            transform: scale(0, 0);
            opacity: .3;
            transition: 0s;
       }

       .option-button {
            padding: 8px;
            background: #17db1d;
            outline: transparent;
            border: solid 1px #17db1d;
            margin-right: 10px;
            cursor: pointer;
            margin-bottom: 10px;;
       }

       .question-options {
        display: inline-block;
        position: absolute;
        top: 7px;
        color: #999999;
        font-size: 2.2vh;
       }

       .active {
        background-color: #eef113;
        border: solid 1px #eef113;
        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
       }

       .landing-page {
            background: -webkit-linear-gradient(top left,#17db1d 0%, #53e3a6 100%);
            background: -moz-linear-gradient(top left, #17db1d 0%, #53e3a6 100%);
            background: -o-linear-gradient(top left,#17db1d 0%, #53e3a6 100%);
            background: linear-gradient(to bottom right, #17db1d 0%, #53e3a6 100%);
            top: 0%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;

            .welcome-text {
                height: 100%;
                text-align: center;
                font-size: 2.5em;
                margin-top: 2.5em;
                font-weight: 500;
                color: #d0fdcf;

                .black-text {
                    color: black;
                }

                .yellow-text {
                    color:yellow;
                }
            }

        .bg-bubbles{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            li{
                position: absolute;
                list-style: none;
                display: block;
                width: 40px;
                height: 40px;
                background: white;
                bottom: -160px;
                opacity: 0.2;
                border-radius: 100px;
                
                -webkit-animation: square 25s infinite;
                animation:         square 25s infinite;
                
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                
                &:nth-child(1){
                    left: 10%;
                }
                
                &:nth-child(2){
                    left: 20%;
                    
                    width: 80px;
                    height: 80px;
                    
                    animation-delay: 2s;
                    animation-duration: 17s;
                }
                
                &:nth-child(3){
                    left: 25%;
                    animation-delay: 4s;
                }
                
                &:nth-child(4){
                    left: 40%;
                    width: 60px;
                    height: 60px;
                    
                    animation-duration: 22s;
                    
                    background-color: fade(white, 25%);
                }
                
                &:nth-child(5){
                    left: 70%;
                }
                
                &:nth-child(6){
                    left: 80%;
                    width: 120px;
                    height: 120px;
                    
                    animation-delay: 3s;
                    background-color: fade(white, 20%);
                }
                
                &:nth-child(7){
                    left: 32%;
                    width: 160px;
                    height: 160px;
                    
                    animation-delay: 7s;
                }
                
                &:nth-child(8){
                    left: 55%;
                    width: 20px;
                    height: 20px;
                    
                    animation-delay: 15s;
                    animation-duration: 40s;
                }
                
                &:nth-child(9){
                    left: 25%;
                    width: 10px;
                    height: 10px;
                    
                    animation-delay: 2s;
                    animation-duration: 40s;
                    background-color: fade(white, 30%);
                }
                
                &:nth-child(10){
                    left: 90%;
                    width: 160px;
                    height: 160px;
                    
                    animation-delay: 11s;
                }
            }
        }
        
        @-webkit-keyframes square {
          0%   { transform: translateY(0); }
          100% { transform: translateY(-700px) rotate(600deg); }
        }
        @keyframes square {
          0%   { transform: translateY(0); }
          100% { transform: translateY(-700px) rotate(600deg); }
        }
    }
}