.navbar {
    height: 11%;
    display: block;
    background-color: #17db1d !important;
    position: absolute;
    width: 100%;
    top: 0px;

    .user-option {
        float: right;
        position: relative;
        top: 1%;
        right: 3%;

        .user-icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .user-operations {
            display: none;
        }

        &:hover {
            .user-operations {
                display: block;
                position: absolute;
                height: 48px;
                background: #f8f9fa;
                padding: 10px 0px 0px 0px;
                right: -24px;
                top: 53px;
                border: 1px solid #e4e4e4;
                border-radius: 5px;
                z-index: 1000;
                box-shadow: 0 2px 10px 0px rgba(0,0,0,0.3);

                li {
                    display: flex;
                    font-size: 14px;
                    color: #999999;
                    cursor: pointer;
                    padding: 5px 10px;
                    height: 37px;

                    span{
                        .logout-option {
                            height: 20px;
                            margin: -2px 8px 0px 0px;
                        }
                    }

                    &:hover {
                        color: #8e8e8e;
                        background: #eaeaea;
                    }
                }
            }

            .user-operations:before {
                content: "";
                position: absolute;
                width: 20.28px;
                height: 20.28px;
                transform: scaleY(0.7774) rotate(135deg);
                background-color: #f8f9fa;
                left: 35px;
                top: -11px;
                border-bottom: solid 2.5px #e4e4e4;
                border-left: solid 2.5px #e4e4e4;
            }
        }

    }
}