.result-view {
    display: block;
    height: auto;
    min-height: 86.5%;
    width: 97%;
    margin: 1.5%;
    position: absolute;
    background: white;
    top: 12%;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);

    .row {
        margin: 0;

        .result-header {
            margin-top: 15px;
    
            p {
                text-align: center;
                font-size: 4vh;
                color: #999999;
                font-weight: 500;
            }

            button {
                float: left;
                padding: 1% 2.5%;
                margin-right: 10px;
                margin-top: 10px;
                border-radius: 15px;
                background: white;
                color: #17db1d;
                outline: transparent;
                border: solid 1.5px #17db1d;

                &:hover {
                    color: white;
                    background: #17db1d;
                    cursor: pointer;
                }
            }
        }

        .user-name-heading {
            font-size: 3vh;
        }

        .user-name-value {
            font-size: 3vh;
            color: #999999;
        }
    }

    .questions-box {
        width: 98%;
        margin: 12px;

        .result-div {
            height: auto;
            border: solid 1px #17db1d;
            padding: 0px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #3dde62;
            margin-top: 30px;

            .question {
                padding: 5px 10px;
                color: #999999;
                font-size: 2.1vh;
                font-weight: 500;
    
                .question-head {
                    color: black;
                }
            }

            .answer {
                padding: 0px;
                color: #999999;
                font-size: 2.1vh;
                font-weight: 500;
    
                .question-head {
                    color: black;
                }

                .correct-answer {
                    color: #17db1d;
                }

                .wrong-answer {
                    color: red;
                }
            }
        }
    }
}